.btn {
  margin-left: 12px;
}
.listItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 24px;
  padding: 6px;
}
.listItem:hover {
  background-color: #ff9797;
  border-radius: 6px;
  
}

.close {
  color: gray;
  text-decoration: line-through;
}

.filtered {
  display: flex;
  justify-content: center;
}

.btns {
  margin-top: 24px;
}